body {
  font-family: sans-serif;
}

/* set a color in css */
.text {
  color: red; /* color for text */
  background: palegreen; /* color for background */
}

/* named color */
.color-named {
  color: blue;
}

/* rgb color */
.color-rgb {
  color: rgb(52, 152, 219);
}

/* rgba color */
.color-rgba {
  color: rgba(52, 152, 219, 0.5);
}

/* hex color */
.color-hex {
  color: #e46d24;
}

/* hsl color */
.color-hsl {
  color: hsl(129, 78%, 52%);
}