body {
  font-family: sans-serif;
}

/* background color */
.bg-color { 
  height: 400px;
  width: 100%;
  color: white;
  background-color: rgb(111, 196, 94);
}

/* background image */
/* explain longhand first */
.bg-image {
  height: 400px;
  width: 100%;
  background-image: url(../img/bg-beach.jpg);

  /* additional properties to fix */
  /* explain contain vs cover and auto */
  background-size: cover;
  /* values Y-horizontal / X-vertical */
  background-position: center center;
  /* background repeat */
  background-repeat: no-repeat;
  background-color: blue;
}

/* background image shorthand */
.bg-shorthand {
  height: 400px;
  width: 100%;
  background: url(../img/bg-beach-2.jpg) no-repeat center/cover red;
}