body {
  font-family: sans-serif;
}

/* padding */
.space-padding {
  border: 1px solid red;

  /* longhand */
  /* padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px; */

  /* shorthand 1 value*/
  padding: 20px;

  /* shorhand 2 value */
  /* padding: 10px 50px; */

  /* shorthand 3 value */
  /* padding: 10px 50px 0; */

  /* shorthand 4 value */
  /* padding: 20px 50px 10px 0; */
}

/* margin */
.space-margin {
  border: 1px solid blueviolet;

  /* longhand */
  /* margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; */

  /* shorthand 1 value */
  /* margin: 50px; */

  /* shorthand 2 value */
  /* margin: 40px 10px; */

  /* shorthand 3 value */
  /* margin: 0 50px 20px; */

  /* shorthand 4 value */
  margin: 40px 20px 40px 20px;
}

/* borders */
.box {
  padding: 40px 0;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

/* solid */
.border {
  /* longhand */
  /* border-top: 4px;
  border-bottom: 4px;
  border-left: 4px;
  border-right: 4px; */
  /* border-style: solid; */

  /* shorthand */
  border: 4px solid;
}

/* color */
.border-color {
  border: 4px solid #006aff;
}

/* dotted */
.border-dotted {
  border: 4px dotted #3bc07d;
}

/* dashed */
.border-dashed {
  border: 4px dashed #d84b9b;
}

/* radius */
.border-radius {
  border: 4px solid #db6c27;

  /* longhand */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */

  /* shorthand 1 value*/
  border-radius: 10px;

  /* shorthand 2 value */
  /* border-radius: 10px 30px; */

  /* shorthand 4 value */
  /* border-radius: 10px 30px 5px 30px; */
}

/* diff */
.squared {
  height: 75px;
  width: 200px;
}

/* content box */
.content_box {
  box-sizing: content-box;
  padding: 20px;
  border: 10px solid red;
  margin: 20px;
}

/* border box */
.border_box {
  box-sizing: border-box;
  padding: 20px;
  border: 10px solid blue;
  margin: 20px;
}