/* Fixes Box-sizing */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* proceed to customize h1 has header */
h1 {
  padding: 50px 0;
  text-align: center;
  background: #1edfaf;
}

h2 {
  margin-top: 20px;
}

/* text shadow */
.text-shadow {
  font-size: 70px;
  font-weight: bold;
  color: #0091ff;
  text-shadow: 2px 2px 8px #b44bff;
}

/* box shadow */
.box-shadow {
  height: 250px;
  width: 200px;
  /* background: red; */
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #00000020;
  box-shadow: 2px 4px 10px #d1d1d1;
  margin: auto;

  /* explain the - and + values */
  /* 1st value (- to the left, + to the right)
    2nd value (- to the top, + to the bottom)
    3rd value (blur radius, the higher the bigger shadow
    4th value (colors can accept named, hex, rgb any unit of color
  */
}