/* element selector */
p {
  color: blue;
}

/* class selector */
.text {
  color: red;
}

/* id selector */
#greet {
  color: orange;
}

/* group selector */
.text2,
#text3,
h5 {
  color: green;
}

/* descendant selector */
.box-greet p {
  color: brown;
}

/* parent direct > child selector */
ul > li {
  color: blue;
}

/* attribute selector */
input[required] {
  border: 2px solid red;
}

/* pseudo selector */
a:link {
  color: red;
}
a:hover {
  color: green;
}
a:active {
  background: yellow;
}

