*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  padding: 50px 0;
  text-align: center;
  background: #1edfaf;
}

/* start here */
.box {
  height: 150px;
  width: 150px;
  background: red;
}

/* animation */
.animate {
  /* longhand code */
  /* animation-name: slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards; */

  /* shorthand */
  animation: slideIn 2s ease-out 0.5s infinite alternate forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}



