*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  padding: 50px 0;
  text-align: center;
  background: #1edfaf;
}

/* --- start here --- */
.box {
  position: relative;
  height: 200px;
  width: 200px;
  background: #1edfaf;
  border: 2px solid #000;
  margin: 0 auto 20px;
}

.text-box {
  background: yellow;
  height: 80px;
  width: 80px;
  text-align: center;
}

/* static */
.p-static {
  position: static;
  /* right: 0; --- not affected */
}

/* relative */
.p-relative {
  position: relative;
}

/* absolute */
.p-absolute {
  position: absolute;
  right: 0; /* can control positioning */
  bottom: 0; /* can control positioning */
}

/* fixed */
.p-fixed {
  position: fixed;
  /* top: 0; */
  /* bottom: 0; */
}

/* sticky */
.p-sticky {
  position: sticky;
  top: 0;
}

/* spacer */
.spacer {
  height: 500px;
}