:root {
  /* COLOR SET */
  --cYellow: #ffe51e;
  --cBlack: #000;
  --cWhite: #fff;
  --footerBg: #292929;
  --cBlue: #267ae1;
  --cGreen: #1edfaf;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  padding: 50px 0;
  text-align: center;
  background: #1edfaf;
}

h2 {
  text-align: center;
  margin: 20px;
}

.container {
  width: calc(100% - 20px);
  max-width: 1280px;
  margin: 0 auto;
}

/* --- Navigation --- */
/* --- Navigation --- */
/* --- Navigation --- */
.navbar {
  background: #fff;
  padding: 25px 0;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #00000010;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
}

.navbar .nav-logo {
  font-size: 20px;
  background: #267ae1;
  padding: 5px 10px;
  border-radius: 5px 10px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}

.navbar ul a {
  color: #292929;
  font-weight: 700;
}

.navbar ul a:hover {
  color: #267ae1;
  transition: all 0.3s ease;
}

/* --- spacer --- */
/* --- spacer --- */
/* --- spacer --- */
.spacer {
  height: 500px;
}

/* --- footer --- */
/* --- footer --- */
/* --- footer --- */
footer {
  margin-top: 100px;
  background: var(--footerBg);
  padding: 30px 0;
  color: var(--cWhite);
  line-height: 1.5rem;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
}

footer .footer-logo {
  font-size: 20px;
  background: #267ae1;
  padding: 5px 10px;
  border-radius: 5px 10px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  width: max-content;
  margin-bottom: 20px;
}

footer ul {
  margin-left: auto;
  list-style: none;
}

footer ul a {
  color: var(--cWhite);
  opacity: 0.7;
  font-size: 14px;
  text-decoration: none;
}

footer ul li a:hover {
  color: #267ae1;
  opacity: 1;
}

footer ul li {
  margin-bottom: 10px;
}

/* start here */
.greet {
  padding: 20px 0;
  text-align: center;
  background: var(--cYellow);
  font-size: 50px;
  font-weight: bold;
}

/* about content - exercise */
.about-content {
  padding: 30px 0;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-content .left {
  width: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.about-content .right {
  width: 50%;
}

.right h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.right p {
  line-height: 1.5rem;
  opacity: 0.8;
  margin-bottom: 30px;
}

.right button {
  height: 40px;
  padding: 0 30px;
  background: var(--cBlue);
  outline: none;
  border: none;
  color: var(--cWhite);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.right button:hover {
  background: var(--cGreen);
  transition: all 0.3s ease;
}

/* tablet screen */
@media screen and (max-width: 768px) {
  .greet {
    background: var(--cGreen);
    color: var(--cBlack);
    margin: 20px 0;
  }

  /* responsive */
  .about-content .right h3{
    font-size: 20px;
  }

  .about-content .right p {
    font-size: 14px;
  }
}

/* mobile screen */
@media screen and (max-width: 500px) {
  .greet {
    background: var(--cBlue);
    color: var(--cWhite);
    font-size: 30px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content .left, .about-content .right {
    width: 100%;
  }
}

